<div class="card">
    <div class="card-header">
      <h2>Detalles de {{ nombre }}</h2>
    </div>
    <div class="card-body">  
        <h3>Le hace daño doble a:</h3>
        <ul>
          <li *ngFor="let dobledanio of dobleDanioTo">
            <a [routerLink]="['/tipo', dobledanio]">{{ dobledanio }}</a>
          </li>
          <li *ngIf="dobleDanioTo.length===0">
                <h3>Ninguno</h3>
          </li>
        </ul>

        <h3>Recibe daño doble de:</h3>
        <ul>
          <li *ngFor="let daniodoble of dobleDanioFrom">
            <a [routerLink]="['/tipo', daniodoble]">{{ daniodoble }}</a>
          </li>
          <li *ngIf="dobleDanioFrom.length===0">
                <h3>Ninguno</h3>
          </li>
        </ul>

        <h3>Le hace daño doble a:</h3>
        <ul>
          <li *ngFor="let mitaddanio of mitadDanioTo">
            <a [routerLink]="['/tipo', mitaddanio]">{{ mitaddanio }}</a>
          </li>
          <li *ngIf="mitadDanioTo.length===0">
                <h3>Ninguno</h3>
          </li>
        </ul>

        <h3>Recibe daño doble de:</h3>
        <ul>
          <li *ngFor="let daniomitad of mitadDanioFrom">
            <a [routerLink]="['/tipo', daniomitad]">{{ daniomitad }}</a>
          </li>
          <li *ngIf="mitadDanioFrom.length===0">
                <h3>Ninguno</h3>
          </li>
        </ul>

        <h3>No le hace daño a:</h3>
        <ul>
          <li *ngFor="let nodanio of noDanioTo">
            <a [routerLink]="['/tipo', nodanio]">{{ nodanio }}</a>
          </li>
          <li *ngIf="noDanioTo.length===0">
                <h3>Ninguno</h3>
          </li>
        </ul>

        <h3>No recibe daño de:</h3>
        <ul>
          <li *ngFor="let daniono of noDanioFrom">
            <a [routerLink]="['/tipo', daniono]">{{ daniono }}</a>
          </li>
          <li *ngIf="noDanioFrom.length===0">
                <h3>Ninguno</h3>
          </li>
        </ul>
        

    </div>
  </div>
  