.sortable-column:hover {
    cursor: pointer;
  }

a {
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--text-color);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
}

.pokemon-row {
  background-size: contain; /* Ensure the background image covers the entire cell */
  background-position: center; /* Center the background image */
  width: 100%;
}

/* Styles for each Pokemon row */
.pokemon-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pokemon-image {
  height: 200px; /* Occupies 100% of the row height */
  width: 200px;
  max-height: 200px; /* Adjust as needed */
  max-width: 200px; /* Adjust as needed */
  filter: drop-shadow(1px 1px 2px black);
}

.pokemon-info {
  display: flex;
  align-items: center;
}

.pokemon-name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis; /* Prevent name from overflowing */
  white-space: nowrap; /* Ensure name does not break into multiple lines */
  font-size: 70px; /* Initial font size */
  margin-left: 10px; /* Space between image and name */
}

.pokemon-types {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align types to the center horizontally */
  margin-right: 10px;
}