<div class="card">
  <div class="card-header">
    <h2>Componente 2</h2>
  </div>
  <div class="card-body">
    <p class="card-text">Este es el contenido del componente 2.</p>

    <!-- Mostrar mensaje de carga si loading es true -->
    <div *ngIf="loading" class="text-center mb-3">
      <p>Cargando Pokedex...</p>
    </div>

    <!-- Filtro de búsqueda -->
    <form class="mb-3 row">
      <label for="searchInput" class="col-xs-3 col-sm-auto col-form-label">Buscar por nombre:</label>
      <div class="col-xs-3 col-sm-auto">
        <input id="searchInput" class="form-control" type="text" [(ngModel)]="searchText" name="searchInput" />
      </div>
    </form>
    
    <!-- Tabla para mostrar la lista de Pokémon -->
    <table class="table table-striped" *ngIf="!loading">
      <thead>
        <tr>
          <th scope="col">Sprite</th>
          <th scope="col" (click)="sort('name')" class="sortable-column">Nombre</th>
          <th scope="col">Tipo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pokemon of pokemonList | sort: sortBy: sortOrder  | filter: searchText | paginate: { itemsPerPage: 20, currentPage: page }">
          <td><img [src]="pokemon.spriteUrl" alt="{{ pokemon.name }}" /></td>
          <td><a [routerLink]="['/nuevo-componente', pokemon.name]">{{ pokemon.name }}</a></td>
          <td>
            <div *ngIf="pokemon.types && pokemon.types.length > 0" class="pokemon-types">
              <div *ngFor="let type of pokemon.types" class="pokemon-type" [ngClass]="'type-' + type" (click)="navigateToType(type)">
                <span>{{ type }}</span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Paginación -->
    <div class="text-center" *ngIf="!loading">
      <pagination-controls
        (pageChange)="page = $event"
        previousLabel="Anterior"
        nextLabel="Siguiente">
      </pagination-controls>
    </div>
  </div>
</div>
